@model IEnumerable<StudentManager.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Student", FormMethod.Get))
    {
    <p>
        Name: @Html.TextBox("SearchName")
        <input type="submit" value="Filter" />
    </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Full name", "Index", new { SortOrder = ViewBag.NameSortParam})
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>
        <th>
            @Html.ActionLink("Dt. Of Birth", "Index", new { SortOrder = ViewBag.DateSortParam})

            @*@Html.DisplayNameFor(model => model.DateOfBirth)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mathematics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Literatures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Average)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mathematics)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Literatures)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.English)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Average)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
    </td>
</tr>
}

</table>
